<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Consultas</title>
</head>
<body>
    <h1>Lista de Consultas</h1>
    <a href="{% url 'cria_consulta' %}">Adicionar Consulta</a>
    <ul>
        {% for consulta in consultas %}
            <li>
                {{ consulta.paciente }} - {{ consulta.data_hora }} 
                
                <a href="{% url 'edita_consulta' consulta.pk %}">Editar</a>
                <a href="{% url 'exclui_consulta' consulta.pk %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
