<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link href="{% static 'consultas/styleExclusao.css' %}" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="form-container"> <!-- errado -->
            <h1>Confirmar Exclusão</h1>
            <p>Você tem certeza que deseja excluir o procedimento?</p>
            <div class="form-actions">
                {% csrf_token %}
                <form method="POST">
                    <button type="submit" class="btn btn-delete">Sim, excluir</button>
                    <a href="{% url 'lista_procedimentos' %}" class="btn btn-cancel">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
