body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 20%;
    background-color: #f8d7da;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu {
    margin-top: 20px;
}

.menu h3 {
    font-size: 1.5em;
    color: #dc3545;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    color: #6c757d;
}

.main {
    width: 80%;
    padding: 20px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    width: 80%; /* A largura será 80% da sidebar */
    display: block; /* Para tratá-la como um bloco */
    margin: 0 auto 20px auto; /* Centraliza horizontalmente e adiciona espaçamento inferior */
    border-radius: 10px; /* (Opcional) Adiciona bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* (Opcional) Adiciona sombra */
}
