{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios\styles.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Entre na sua Conta</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Escreva seu Email" required>
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Escreva sua Senha" required>
                <button type="submit">Entrar</button>
            </form>
            <p>Não Possui conta? <a href="{% url 'cadastro' %}">Cadastrar</a></p>
        </div>
    </div>
</body>
</html>